Repository AkaakuHub/natter: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-tailwind-colors-check, frontend-lint, frontend-format, backend-lint, backend-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-tailwind-colors-check:
      glob: "frontend/src/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && ./scripts/check-tailwind-colors.sh
    frontend-lint:
      glob: "frontend/{src,app}/**/*.{ts,tsx}"
      run: cd frontend && pnpm run lint
      stage_fixed: true
    frontend-format:
      glob: "frontend/{src,app}/**/*.{ts,tsx,js,jsx,json,css}"
      run: cd frontend && pnpm run format
      stage_fixed: true
    backend-lint:
      glob: "backend/src/**/*.ts"
      run: cd backend && pnpm run lint
      stage_fixed: true
    backend-format:
      glob: "backend/src/**/*.ts"
      run: cd backend && pnpm run format
      stage_fixed: true

chore: URLを追加する機能
  backend/.gitignore
  backend/prisma/migrations/20250710233933_add_url_field_to_posts/migration.sql
  backend/prisma/schema.prisma
  backend/src/posts/dto/create-post.dto.ts
  backend/src/posts/dto/update-post.dto.ts
  backend/src/posts/posts.service.ts
  frontend/src/api/types.ts
  frontend/src/components/CreatePostModal/index.tsx
  frontend/src/components/DetailedPost/components/PostContent.tsx
  frontend/src/components/DetailedPost/index.tsx
  frontend/src/components/NotificationItem/index.tsx
  frontend/src/components/Post/components/PostContent.tsx
  frontend/src/components/Post/index.tsx
  frontend/src/hooks/queries/useNotifications.ts
  frontend/src/hooks/useNewPostNotification.ts
  frontend/src/hooks/usePostSubmit.ts
  frontend/src/utils/characterColorUtils.ts
  frontend/src/utils/postTransformers.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format, backend-lint, backend-format

chore: 非公開の画像にブラー、失敗
  backend/package.json
  backend/pnpm-lock.yaml
  backend/prisma/migrations/20250710235840_add_images_public_field/migration.sql
  backend/prisma/schema.prisma
  backend/src/posts/dto/create-post.dto.ts
  backend/src/posts/dto/update-post.dto.ts
  backend/src/posts/posts.module.ts
  backend/src/posts/posts.service.ts
  backend/src/services/image-processing.service.ts
  frontend/src/api/types.ts
  frontend/src/components/CreatePostModal/index.tsx
  frontend/src/components/Post/components/PostContent.tsx
  frontend/src/hooks/usePostSubmit.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format, backend-lint, backend-format

fix: 画像の隠蔽処理
  backend/src/posts/posts.controller.ts
  backend/src/posts/posts.module.ts
  backend/src/posts/posts.service.ts
  backend/src/services/image-processing.service.ts
  backend/src/services/og-image.service.ts
  frontend/src/app/api/ogp/route.ts
  frontend/src/app/page.tsx
  frontend/src/middleware.ts
  frontend/src/utils/characterColorUtils.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format, backend-lint, backend-format

chore: ログを強化
  backend/src/posts/posts.controller.ts
  frontend/src/app/api/ogp/route.ts
  frontend/src/middleware.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format, backend-lint, backend-format

fix: 他人の画像は処理済みを見るように修正し、同じエンドポイントアクセスでできるように修正
  backend/image-security-test.md
  backend/src/main.ts
  backend/src/posts/posts.controller.ts
  backend/src/posts/posts.service.ts
  backend/src/services/image-processing.service.ts
  backend/test-image-security.md
  frontend/src/components/DetailedPost/components/PostContent.tsx
  frontend/src/components/ImageModal/components/ImageDisplay.tsx
  frontend/src/components/Post/components/PostContent.tsx
  frontend/src/components/common/AuthenticatedImage.tsx
  frontend/src/utils/imageUtils.ts
  frontend/src/utils/postUtils.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format, backend-lint, backend-format

fix: 認証なしでポスト見えるように
  backend/src/posts/posts.controller.ts
  backend/src/users/users.controller.ts
  frontend/src/api/posts.ts
  frontend/src/components/CreatePostModal/index.tsx
  frontend/src/components/DetailedPost/components/PostActions.tsx
  frontend/src/core/HybridSPA.tsx
  frontend/src/core/router/RouteEngine.ts
  frontend/src/hooks/useNavigation.ts
  frontend/src/middleware.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format, backend-lint, backend-format

fix: postからプロフィールはなおった
  backend/src/follows/follows.controller.ts
  frontend/src/api/client.ts
  frontend/src/app/page.tsx
  frontend/src/components/DetailedPost/components/PostHeader.tsx
  frontend/src/components/DetailedPost/index.tsx
  frontend/src/components/views/PostView.tsx
  frontend/src/components/views/ProfileView.tsx
  frontend/src/core/router/RouteEngine.ts
  frontend/src/core/router/ViewRenderer.tsx
  frontend/src/hooks/queries/useUsers.ts
  frontend/src/hooks/useDetailedPost.ts
  frontend/src/hooks/useNavigation.ts
  frontend/src/middleware.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format, backend-lint, backend-format

fix: ヘッダーのIDエラー治った
  frontend/src/api/users.ts
  frontend/src/components/Profile/ProfileHeader.tsx
  frontend/src/components/views/ProfileView.tsx
  frontend/src/hooks/queries/useUsers.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: ogp image
  frontend/.env.example
  frontend/public/og-image.png
  frontend/src/app/layout.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: OGP画像
  frontend/src/app/api/ogp/route.ts
  frontend/src/app/layout.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: 自動画像再生を削除
  backend/src/posts/posts.controller.ts
Due: backend-lint, backend-format

chore: ついに、望んでいたブロックモザイクの一歩
  backend/src/services/image-processing.service.ts
Due: backend-lint, backend-format

fix: モザイク
  backend/src/services/image-processing.service.ts
Due: backend-lint, backend-format

fix: image dto
  backend/src/posts/dto/create-post.dto.ts
Due: backend-lint, backend-format

fix: モザイクを4に
  backend/src/services/image-processing.service.ts
Due: backend-lint, backend-format

fix: 画像モーダルで、正しい画像を使用
  frontend/src/components/DetailedPost/index.tsx
  frontend/src/components/shared/ReplySourcePost.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

chore: バックエンド不要なログを削除
  backend/src/auth/auth.controller.ts
  backend/src/characters/characters.service.ts
  backend/src/posts/posts.controller.ts
  backend/src/posts/posts.service.ts
  backend/src/server/server.service.ts
  backend/src/services/image-processing.service.ts
  backend/src/users/users.controller.ts
  backend/src/users/users.service.ts
Due: backend-lint, backend-format

chore: フロントエンド 不要なログを削除
  frontend/src/api/client.ts
  frontend/src/api/posts.ts
  frontend/src/api/users.ts
  frontend/src/app/page.tsx
  frontend/src/auth.ts
  frontend/src/components/CharacterSelector/index.tsx
  frontend/src/components/CharacterTagSelector/index.tsx
  frontend/src/components/DetailedPost/index.tsx
  frontend/src/components/FooterMenu.tsx
  frontend/src/components/NotificationItem/index.tsx
  frontend/src/components/Post/index.tsx
  frontend/src/components/Profile/ProfileHeader.tsx
  frontend/src/components/ReplyModal/components/OriginalPost.tsx
  frontend/src/components/ReplyModal/index.tsx
  frontend/src/components/Sidebar/TrendingPosts.tsx
  frontend/src/components/Welcome/index.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/views/FollowersView.tsx
  frontend/src/components/views/FollowingView.tsx
  frontend/src/components/views/PostView.tsx
  frontend/src/components/views/ProfileView.tsx
  frontend/src/core/auth/HybridSPAAuth.tsx
  frontend/src/core/router/RouteEngine.ts
  frontend/src/core/router/TrueSPARouter.tsx
  frontend/src/core/router/ViewRenderer.tsx
  frontend/src/hooks/queries/useUsers.ts
  frontend/src/hooks/useDetailedPost.ts
  frontend/src/hooks/useGlobalKeyboardShortcuts.ts
  frontend/src/hooks/useNavigation.ts
  frontend/src/hooks/useNewPostNotification.ts
  frontend/src/hooks/usePostActions.ts
  frontend/src/hooks/usePostDelete.ts
  frontend/src/hooks/usePostEdit.ts
  frontend/src/hooks/usePostSubmit.ts
  frontend/src/hooks/useSessionManagement.ts
  frontend/src/hooks/useUserCreation.ts
  frontend/src/middleware.ts
  frontend/src/utils/imageUtils.ts
  frontend/src/utils/logout.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

chore: db自動バックアップを修正
  backend/src/app.module.ts
  backend/src/controllers/backup.controller.ts
  backend/src/modules/backup.module.ts
  backend/src/services/backup.service.ts
  backend/src/services/db-backup.service.ts
  backend/src/tasks/backup.task.ts
  package.json
Due: backend-lint, backend-format

chore: 引っ張って更新、文言統一
  frontend/public/sounds/refresh.mp3
  frontend/src/components/DetailedPost/components/PostActions.tsx
  frontend/src/components/TimeLine/index.tsx
  frontend/src/components/common/AuthenticatedImage.tsx
  frontend/src/hooks/usePullToRefresh.ts
  frontend/src/utils/audioUtils.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

chore: 不要なログ削除
  backend/src/posts/posts.service.ts
Due: backend-lint, backend-format

fix: audio path
  frontend/src/middleware.ts
  frontend/src/utils/audioUtils.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: 音声再生のinteractionエラー
  frontend/src/components/TimeLine/index.tsx
  frontend/src/hooks/usePullToRefresh.ts
  frontend/src/utils/audioUtils.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: iosのスクロール無効化
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/components/TimeLine/index.tsx
  frontend/src/hooks/usePullToRefresh.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

chore: キャラクタータグの編集機能、プルダウン更新を修正
  frontend/src/components/CreatePostModal/index.tsx
  frontend/src/components/EditCharacterModal/index.tsx
  frontend/src/components/ImageModal/components/NavigationButtons.tsx
  frontend/src/components/ImageModal/index.tsx
  frontend/src/components/Post/components/PostActions.tsx
  frontend/src/components/ReplyModal/index.tsx
  frontend/src/components/TimeLine/index.tsx
  frontend/src/components/views/SetListView.tsx
  frontend/src/hooks/queries/useCharacters.ts
  frontend/src/hooks/useModalState.ts
  frontend/src/hooks/usePullToRefresh.ts
  frontend/src/hooks/useScrollContainer.ts
  frontend/src/hooks/useScrollLock.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: typeerror
  frontend/src/hooks/usePullToRefresh.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

chore: ボタンいろ集成
  frontend/src/components/EditCharacterModal/index.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

chore: タイマータブ
  frontend/src/app/globals.css
  frontend/src/components/FooterMenu.tsx
  frontend/src/components/HybridFooterMenu.tsx
  frontend/src/components/Timer/index.tsx
  frontend/src/components/views/TimerView.tsx
  frontend/src/core/HybridSPA.tsx
  frontend/src/core/router/ViewRenderer.tsx
  frontend/src/hooks/useNavigation.ts
  frontend/src/middleware.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

chore: SPAコードをリファクタして集約
  .prototools
  frontend/src/components/CreatePostModal/index.tsx
  frontend/src/components/DetailedPost/components/PostActions.tsx
  frontend/src/components/DetailedPost/index.tsx
  frontend/src/components/FollowList.tsx
  frontend/src/components/FooterMenu.tsx
  frontend/src/components/HybridFooterMenu.tsx
  frontend/src/components/NotificationItem/index.tsx
  frontend/src/components/Post/index.tsx
  frontend/src/components/Profile/ProfileHeader.tsx
  frontend/src/components/Sidebar/TrendingPosts.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/views/FollowersView.tsx
  frontend/src/components/views/FollowingView.tsx
  frontend/src/components/views/NotFoundView.tsx
  frontend/src/components/views/PostView.tsx
  frontend/src/components/views/ProfileView.tsx
  frontend/src/core/HybridSPA.tsx
  frontend/src/core/router/ViewRenderer.tsx
  frontend/src/core/spa/SPAHelpers.ts
  frontend/src/core/spa/SPANavigation.ts
  frontend/src/core/spa/SPARoutes.ts
  frontend/src/core/spa/index.ts
  frontend/src/hooks/useGlobalKeyboardShortcuts.ts
  frontend/src/hooks/useNavigation.ts
  frontend/src/hooks/usePostSubmit.ts
  frontend/src/middleware.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: timer問題, 画像モーダル問題
  docs/image-modal-analysis.md
  docs/investigation_timer_progress_issue.md
  frontend/src/app/globals.css
  frontend/src/components/DetailedPost/components/PostContent.tsx
  frontend/src/components/FooterMenu.tsx
  frontend/src/components/HybridFooterMenu.tsx
  frontend/src/components/ImageModal/components/ImageDisplay.tsx
  frontend/src/components/ImageModal/components/NavigationButtons.tsx
  frontend/src/components/ImageModal/index.tsx
  frontend/src/components/Post/components/PostContent.tsx
  frontend/src/components/Timer/index.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/hooks/usePullToRefresh.ts
  frontend/src/hooks/useScrollLock.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

chore: 不要な関数削除
  frontend/src/components/CharacterSelector/index.tsx
  frontend/src/core/spa/SPARoutes.ts
  frontend/src/hooks/queries/useCharacters.ts
  frontend/src/hooks/queries/useNotifications.ts
  frontend/src/hooks/queries/usePosts.ts
  frontend/src/utils/characterColorUtils.ts
  frontend/src/utils/imageUtils.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

chore: URL表示機能
  frontend/src/components/CreatePost/components/PostActions.tsx
  frontend/src/components/CreatePost/components/PostTextArea.tsx
  frontend/src/components/CreatePostModal/index.tsx
  frontend/src/components/DetailedPost/components/PostContent.tsx
  frontend/src/components/Post/components/PostContent.tsx
  frontend/src/components/ReplyModal/components/ReplyForm.tsx
  frontend/src/components/ReplyModal/index.tsx
  frontend/src/components/common/RichText.tsx
  frontend/src/hooks/useFormValidation.ts
  frontend/src/hooks/useReplyModal.ts
  frontend/src/utils/textUtils.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

chore: URLのメタデータを適切に表示し、一週間キャッシュする
  backend/package.json
  backend/pnpm-lock.yaml
  backend/prisma/migrations/20250715040558_add_url_metadata_cache/migration.sql
  backend/prisma/schema.prisma
  backend/scripts/update-character-posts-count.ts
  backend/src/app.module.ts
  backend/src/metadata/dto/url-metadata.dto.ts
  backend/src/metadata/metadata.controller.ts
  backend/src/metadata/metadata.module.ts
  backend/src/metadata/metadata.service.ts
  backend/src/tasks/metadata.task.ts
  docs/troubleshooting/api-errors.md
  frontend/next.config.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/CreatePost/components/PostTextArea.tsx
  frontend/src/components/DetailedPost/components/PostContent.tsx
  frontend/src/components/Post/components/PostContent.tsx
  frontend/src/components/common/RichText.tsx
  frontend/src/components/common/UrlPreview.tsx
  frontend/src/utils/textUtils.ts
  frontend/tailwind.config.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format, backend-lint, backend-format

fix: 不要なログ
  frontend/src/hooks/useModalState.ts
  frontend/src/hooks/usePullToRefresh.ts
  frontend/src/hooks/useScrollContainer.ts
  frontend/src/hooks/useScrollLock.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

chore: サーバー停止時の表示
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/api/client.ts
  frontend/src/api/errors.ts
  frontend/src/api/notifications.ts
  frontend/src/api/users.ts
  frontend/src/app/api/ogp/route.ts
  frontend/src/app/layout.tsx
  frontend/src/components/common/ServerErrorBanner.tsx
  frontend/src/components/layout/BaseLayout.tsx
  frontend/src/components/layout/HybridBaseLayout.tsx
  frontend/src/contexts/ServerStatusContext.tsx
  frontend/src/hooks/useCurrentUser.ts
  frontend/src/hooks/useUserValidation.ts
  frontend/src/utils/textUtils.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

chore: 破棄確認モーダル、twitterの埋め込み
  backend/src/metadata/metadata.service.ts
  frontend/src/components/CreatePostModal/index.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format, backend-lint, backend-format

fix: 編集画面でURLのサニタイズを戻す
  backend/src/posts/posts.service.ts
Due: backend-lint, backend-format

chore: タイムラインの元の位置に戻れるように、URLエンコード修正
  frontend/src/components/EditPostModal/index.tsx
  frontend/src/components/TimeLine/index.tsx
  frontend/src/components/common/UrlPreview.tsx
  frontend/src/contexts/AppStateContext.tsx
  frontend/src/utils/decodeContent.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

chore: font最適化
  frontend/next.config.ts
  frontend/src/app/layout.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

chore: やれてるローディング画面
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/components/ClientLayout.tsx
  frontend/src/components/SplashScreen.tsx
  frontend/src/components/TimeLine/index.tsx
  frontend/src/hooks/useAppInitialization.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format
