Repository AkaakuHub/natter: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-lint, frontend-format, backend-lint, backend-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-lint:
      glob: "frontend/{src,app}/**/*.{ts,tsx}"
      run: cd frontend && pnpm run lint
    frontend-format:
      glob: "frontend/{src,app}/**/*.{ts,tsx,js,jsx,json,css}"
      run: cd frontend && pnpm run format
    backend-lint:
      glob: "backend/src/**/*.ts"
      run: cd backend && pnpm run lint
    backend-format:
      glob: "backend/src/**/*.ts"
      run: cd backend && pnpm run format

pre-push:
  commands:
    backend-test:
      run: cd backend && pnpm run test
    backend-build:
      run: cd backend && pnpm run build
    frontend-build:
      run: cd frontend && pnpm run build

chore: format
  frontend/src/components/DetailedPost/index.tsx
  frontend/src/components/Post/index.tsx
Due: frontend-lint, frontend-format

chore: リプライ機能
  backend/package.json
  backend/pnpm-lock.yaml
  backend/prisma/migrations/20250705074415_add_reply_functionality/migration.sql
  backend/prisma/schema.prisma
  backend/src/auth/auth.guard.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/jwt-auth.guard.ts
  backend/src/auth/jwt.strategy.ts
  backend/src/posts/dto/create-post.dto.ts
  backend/src/posts/posts.controller.ts
  backend/src/posts/posts.service.ts
  frontend/src/api/posts.ts
  frontend/src/api/types.ts
  frontend/src/components/DetailedPost/index.tsx
  frontend/src/components/Profile/index.tsx
  frontend/src/components/ReplyComponent/index.tsx
  frontend/src/components/ReplyModal/index.tsx
  frontend/src/components/TimeLine/index.tsx
Due: frontend-lint, frontend-format, backend-lint, backend-format

chore: リプライ修復
  backend/.gitignore
  backend/uploads/images-1751700490471-179009146.jpeg
  frontend/src/components/DetailedPost/index.tsx
  frontend/src/components/Post/index.tsx
  frontend/src/components/TimeLine/index.tsx
Due: frontend-lint, frontend-format

chore: リプライ修復2
  .gitignore
  backend/.gitignore
Due: none

fix: 画像大きさ
  frontend/src/app/globals.css
  frontend/src/components/CreatePost/index.tsx
  frontend/src/components/DetailedPost/index.tsx
  frontend/src/components/ImageModal/index.tsx
  frontend/src/components/Post/index.tsx
  frontend/src/components/ReplyComponent/index.tsx
  frontend/tailwind.config.ts
Due: frontend-lint, frontend-format

fix: v4以降
  frontend/src/app/globals.css
  frontend/src/components/CreatePost/index.tsx
  frontend/src/components/DetailedPost/index.tsx
  frontend/src/components/ImageModal/index.tsx
  frontend/src/components/Post/index.tsx
  frontend/src/components/ReplyComponent/index.tsx
  frontend/tailwind.config.ts
Due: frontend-lint, frontend-format

fix: 真っ黒グレー
  frontend/src/components/ReplyModal/index.tsx
Due: frontend-lint, frontend-format

chore: トースト表示
  backend/src/users/users.controller.ts
  frontend/src/app/layout.tsx
  frontend/src/auth.ts
  frontend/src/components/DetailedPost/index.tsx
  frontend/src/components/ImageModal/index.tsx
  frontend/src/components/Post/index.tsx
  frontend/src/components/Toast/index.tsx
  frontend/src/hooks/useToast.tsx
Due: frontend-lint, frontend-format, backend-lint, backend-format

chore: 画像拡張子
  backend/src/posts/posts.controller.ts
  frontend/src/components/CreatePost/index.tsx
Due: frontend-lint, frontend-format, backend-lint, backend-format

fix: うそ
  README.md
Due: none

chore: トーストから遷移
  frontend/src/components/CreatePost/index.tsx
  frontend/src/components/DetailedPost/index.tsx
  frontend/src/components/Post/index.tsx
  frontend/src/components/Toast/index.tsx
  frontend/src/hooks/useToast.tsx
Due: frontend-lint, frontend-format

chore: トーストから遷移、作成も
  frontend/src/hooks/useToast.tsx
Due: frontend-lint, frontend-format

chore: キャッシュ削除
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

chore: リプライのスタイルを修正
  frontend/src/components/ReplyModal/index.tsx
Due: frontend-lint, frontend-format

refactor: DetailedPostComponentを機能別コンポーネントに分割
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/api/types.ts
  frontend/src/app/(index)/page.tsx
  frontend/src/app/notification/page.tsx
  frontend/src/app/post/[id]/page.tsx
  frontend/src/app/profile/[id]/page.tsx
  frontend/src/app/set-list/page.tsx
  frontend/src/auth.ts
  frontend/src/components/DetailedPost/components/BackButton.tsx
  frontend/src/components/DetailedPost/components/ErrorState.tsx
  frontend/src/components/DetailedPost/components/LoadingState.tsx
  frontend/src/components/DetailedPost/components/ParentPostCard.tsx
  frontend/src/components/DetailedPost/components/PostActions.tsx
  frontend/src/components/DetailedPost/components/PostContent.tsx
  frontend/src/components/DetailedPost/components/PostHeader.tsx
  frontend/src/components/DetailedPost/components/RepliesList.tsx
  frontend/src/components/DetailedPost/index.tsx
  frontend/src/components/FooterMenu.tsx
  frontend/src/components/Profile/TabsComponent.tsx
  frontend/src/components/ReplyComponent/index.tsx
  frontend/src/components/SideBar.tsx
  frontend/src/components/layout/BaseLayout.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/layout/SimpleLayout.tsx
  frontend/src/components/layout/TwitterLikeLayout.tsx
  frontend/src/components/providers/NavigationStackProvider.tsx
  frontend/src/hooks/useDetailedPost.ts
  frontend/src/hooks/useImageModal.ts
  frontend/src/hooks/useNavigation.ts
  frontend/src/hooks/useNavigationStack.ts
  frontend/src/hooks/usePostActions.ts
  frontend/src/hooks/useSwipeGestures.ts
  frontend/src/hooks/useSwipeNavigation.ts
  frontend/src/utils/postTransformers.ts
  frontend/src/utils/postUtils.ts
Due: frontend-lint, frontend-format

chore: デザインを刷新
  frontend/src/app/(index)/page.tsx
  frontend/src/app/notification/page.tsx
  frontend/src/app/post/[id]/page.tsx
  frontend/src/app/profile/[id]/page.tsx
  frontend/src/app/set-list/page.tsx
  frontend/src/components/DetailedPost/components/BackButton.tsx
  frontend/src/components/DetailedPost/components/ErrorState.tsx
  frontend/src/components/DetailedPost/components/LoadingState.tsx
  frontend/src/components/DetailedPost/components/ParentPostCard.tsx
  frontend/src/components/DetailedPost/components/PostActions.tsx
  frontend/src/components/DetailedPost/components/PostContent.tsx
  frontend/src/components/DetailedPost/components/PostHeader.tsx
  frontend/src/components/DetailedPost/components/RepliesList.tsx
  frontend/src/components/DetailedPost/index.tsx
  frontend/src/components/layout/BaseLayout.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/hooks/useDetailedPost.ts
  frontend/src/hooks/useImageModal.ts
  frontend/src/hooks/useNavigation.ts
  frontend/src/hooks/usePostActions.ts
  frontend/src/utils/postTransformers.ts
  frontend/src/utils/postUtils.ts
Due: frontend-lint, frontend-format

fix: プロフィールでリプライの返信元を表示するよう修正
  frontend/src/components/Profile/index.tsx
  frontend/src/components/TimeLine/index.tsx
  frontend/src/utils/postTransformers.ts
Due: frontend-lint, frontend-format

refactor: Postコンポーネントを機能別に分割
  frontend/src/components/Post/components/PostActions.tsx
  frontend/src/components/Post/components/PostContent.tsx
  frontend/src/components/Post/components/PostHeader.tsx
  frontend/src/components/Post/components/ReplyToIndicator.tsx
  frontend/src/components/Post/components/UserAvatar.tsx
  frontend/src/components/Post/index.tsx
  frontend/src/hooks/usePostLike.ts
  frontend/src/hooks/usePostReply.ts
Due: frontend-lint, frontend-format

refactor: CreatePostコンポーネントを機能別に分割
  frontend/src/components/CreatePost/components/ErrorMessage.tsx
  frontend/src/components/CreatePost/components/ImagePreview.tsx
  frontend/src/components/CreatePost/components/PostActions.tsx
  frontend/src/components/CreatePost/components/PostTextArea.tsx
  frontend/src/components/CreatePost/components/UserAvatar.tsx
  frontend/src/components/CreatePost/index.tsx
  frontend/src/components/Post/components/PostActions.tsx
  frontend/src/components/Post/components/PostContent.tsx
  frontend/src/components/Post/components/PostHeader.tsx
  frontend/src/components/Post/components/ReplyToIndicator.tsx
  frontend/src/components/Post/components/UserAvatar.tsx
  frontend/src/components/Post/index.tsx
  frontend/src/hooks/useFormValidation.ts
  frontend/src/hooks/useImageUpload.ts
  frontend/src/hooks/usePostLike.ts
  frontend/src/hooks/usePostReply.ts
  frontend/src/hooks/usePostSubmit.ts
Due: frontend-lint, frontend-format

refactor: ReplyModalコンポーネントを機能別に分割
  frontend/src/components/CreatePost/components/ErrorMessage.tsx
  frontend/src/components/CreatePost/components/ImagePreview.tsx
  frontend/src/components/CreatePost/components/PostActions.tsx
  frontend/src/components/CreatePost/components/PostTextArea.tsx
  frontend/src/components/CreatePost/components/UserAvatar.tsx
  frontend/src/components/CreatePost/index.tsx
  frontend/src/components/ReplyModal/components/ModalHeader.tsx
  frontend/src/components/ReplyModal/components/OriginalPost.tsx
  frontend/src/components/ReplyModal/components/ReplyForm.tsx
  frontend/src/components/ReplyModal/index.tsx
  frontend/src/hooks/useFormValidation.ts
  frontend/src/hooks/useImageUpload.ts
  frontend/src/hooks/usePostSubmit.ts
  frontend/src/hooks/useReplyModal.ts
Due: frontend-lint, frontend-format

chore: prettier formatting
  frontend/src/components/ReplyModal/components/ModalHeader.tsx
  frontend/src/components/ReplyModal/components/OriginalPost.tsx
  frontend/src/components/ReplyModal/components/ReplyForm.tsx
  frontend/src/hooks/useReplyModal.ts
Due: frontend-lint, frontend-format

refactor: 主要コンポーネントの包括的リファクタリング
  frontend/src/components/ImageModal/components/ImageDisplay.tsx
  frontend/src/components/ImageModal/components/ModalHeader.tsx
  frontend/src/components/ImageModal/components/NavigationButtons.tsx
  frontend/src/components/ImageModal/components/ThumbnailNavigation.tsx
  frontend/src/components/ImageModal/index.tsx
  frontend/src/components/Toast/components/CloseButton.tsx
  frontend/src/components/Toast/components/ToastIcon.tsx
  frontend/src/components/Toast/components/ToastMessage.tsx
  frontend/src/components/Toast/index.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/layout/Header/components/DropdownMenu.tsx
  frontend/src/components/layout/Header/components/Logo.tsx
  frontend/src/components/layout/Header/components/ProfileDropdown.tsx
  frontend/src/hooks/useApiCall.ts
  frontend/src/hooks/useClickOutside.ts
  frontend/src/hooks/useCurrentUser.ts
  frontend/src/hooks/useDebounce.ts
  frontend/src/hooks/useDropdown.ts
  frontend/src/hooks/useInfiniteScroll.ts
  frontend/src/hooks/useKeyboardNavigation.ts
  frontend/src/hooks/useLocalStorage.ts
  frontend/src/hooks/useModal.ts
  frontend/src/hooks/useSessionManagement.ts
  frontend/src/hooks/useToastAnimation.ts
  frontend/src/hooks/useUserCreation.ts
  frontend/src/hooks/useUserValidation.ts
  frontend/src/utils/toastConfig.ts
  frontend/src/utils/userCache.ts
Due: frontend-lint, frontend-format

chore: 認証のガードを強化
  backend/src/auth/auth.guard.ts
  backend/src/auth/post-owner.guard.ts
  backend/src/posts/posts.controller.ts
  backend/src/posts/posts.module.ts
  backend/src/server/dto/check-server.dto.ts
  backend/src/server/server.module.ts
  backend/src/server/server.service.ts
  backend/src/types/auth.types.ts
  docs/auth-implementation.md
  docs/frontend-implementation-guide.md
Due: backend-lint, backend-format

chore: フロントのリファクタ
  frontend/src/components/ImageModal/components/ImageDisplay.tsx
  frontend/src/components/ImageModal/components/ModalHeader.tsx
  frontend/src/components/ImageModal/components/NavigationButtons.tsx
  frontend/src/components/ImageModal/components/ThumbnailNavigation.tsx
  frontend/src/components/Toast/components/CloseButton.tsx
  frontend/src/components/Toast/components/ToastIcon.tsx
  frontend/src/components/Toast/components/ToastMessage.tsx
  frontend/src/components/layout/Header/components/DropdownMenu.tsx
  frontend/src/components/layout/Header/components/Logo.tsx
  frontend/src/components/layout/Header/components/ProfileDropdown.tsx
  frontend/src/hooks/useApiCall.ts
  frontend/src/hooks/useClickOutside.ts
  frontend/src/hooks/useCurrentUser.ts
  frontend/src/hooks/useDebounce.ts
  frontend/src/hooks/useDropdown.ts
  frontend/src/hooks/useInfiniteScroll.ts
  frontend/src/hooks/useKeyboardNavigation.ts
  frontend/src/hooks/useLocalStorage.ts
  frontend/src/hooks/useModal.ts
  frontend/src/hooks/useSessionManagement.ts
  frontend/src/hooks/useToastAnimation.ts
  frontend/src/hooks/useUserCreation.ts
  frontend/src/hooks/useUserValidation.ts
  frontend/src/utils/toastConfig.ts
  frontend/src/utils/userCache.ts
Due: frontend-lint, frontend-format

feat: 投稿編集・削除機能とJWT認証システムの実装
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/api/auth.ts
  frontend/src/api/client.ts
  frontend/src/api/posts.ts
  frontend/src/components/DeleteConfirmDialog/index.tsx
  frontend/src/components/EditPostModal/components/EditForm.tsx
  frontend/src/components/EditPostModal/components/ModalHeader.tsx
  frontend/src/components/EditPostModal/index.tsx
  frontend/src/components/Post/components/PostHeader.tsx
  frontend/src/components/Post/components/PostOwnerActions.tsx
  frontend/src/components/Post/index.tsx
  frontend/src/hooks/useClickOutside.ts
  frontend/src/hooks/useDropdown.ts
  frontend/src/hooks/useInfiniteScroll.ts
  frontend/src/hooks/usePostDelete.ts
  frontend/src/hooks/usePostEdit.ts
  frontend/src/stores/authStore.ts
Due: frontend-lint, frontend-format

fix: build
  frontend/src/api/auth.ts
  frontend/src/api/client.ts
  frontend/src/api/posts.ts
  frontend/src/components/DeleteConfirmDialog/index.tsx
  frontend/src/components/EditPostModal/components/EditForm.tsx
  frontend/src/components/EditPostModal/components/ModalHeader.tsx
  frontend/src/components/EditPostModal/index.tsx
  frontend/src/components/Post/components/PostHeader.tsx
  frontend/src/components/Post/components/PostOwnerActions.tsx
  frontend/src/components/Post/components/ReplyToIndicator.tsx
  frontend/src/components/Post/index.tsx
  frontend/src/hooks/usePostDelete.ts
  frontend/src/hooks/usePostEdit.ts
  frontend/src/stores/authStore.ts
  frontend/src/utils/postTransformers.ts
Due: frontend-lint, frontend-format

chore: 認証大改修
  backend/src/posts/posts.controller.ts
  backend/src/posts/posts.service.ts
  backend/src/users/users.controller.ts
  backend/src/users/users.service.ts
  docs/frontend-backend-integration-fixes.md
  frontend/next.config.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/api/client.ts
  frontend/src/api/posts.ts
  frontend/src/app/(index)/page.tsx
  frontend/src/app/api/auth/jwt-token/route.ts
  frontend/src/app/api/auth/jwt-verify/route.ts
  frontend/src/app/login/page.tsx
  frontend/src/auth.ts
  frontend/src/components/CreatePost/index.tsx
  frontend/src/components/DetailedPost/index.tsx
  frontend/src/components/Post/components/PostContent.tsx
  frontend/src/components/ReplyModal/index.tsx
  frontend/src/components/TimeLine/index.tsx
  frontend/src/hooks/useDetailedPost.ts
  frontend/src/hooks/usePostActions.ts
  frontend/src/hooks/usePostLike.ts
  frontend/src/hooks/usePostReply.ts
  frontend/src/hooks/usePostSubmit.ts
  frontend/src/middleware.ts
  frontend/src/types.d.ts
Due: frontend-lint, frontend-format, backend-lint, backend-format

fix: build error
  frontend/src/app/api/auth/jwt-token/route.ts
  frontend/src/components/DetailedPost/index.tsx
  frontend/src/hooks/usePostReply.ts
  frontend/src/hooks/usePostSubmit.ts
Due: frontend-lint, frontend-format

fix: プロフィールの名前の部分
  frontend/src/components/Profile/ProfileHeader.tsx
Due: frontend-lint, frontend-format

chore: 画像もーだるの修正
  frontend/src/components/CreatePost/components/PostActions.tsx
  frontend/src/components/CreatePost/components/UserAvatar.tsx
  frontend/src/components/CreatePost/index.tsx
  frontend/src/components/ImageModal/components/ImageDisplay.tsx
  frontend/src/components/ImageModal/components/ModalHeader.tsx
  frontend/src/components/ImageModal/components/NavigationButtons.tsx
  frontend/src/components/ImageModal/index.tsx
Due: frontend-lint, frontend-format

chore: 革新的なダークモード
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/components/Profile/ProfileHeader.tsx
  frontend/src/components/layout/Header/components/DropdownMenu.tsx
  frontend/src/hooks/useTheme.ts
Due: frontend-lint, frontend-format

chore: ダークモード第一弾
  frontend/src/components/CreatePost/index.tsx
  frontend/src/components/FooterMenu.tsx
  frontend/src/components/ImageModal/index.tsx
  frontend/src/components/Post/index.tsx
  frontend/src/components/layout/BaseLayout.tsx
  frontend/src/components/layout/Header.tsx
Due: frontend-lint, frontend-format

fix: lefthook
  lefthook.yml
Due: none

fix: tailwind cssの設定
  frontend/src/components/DetailedPost/components/PostActions.tsx
  frontend/src/components/DetailedPost/index.tsx
  frontend/src/components/Post/components/PostActions.tsx
  frontend/src/components/Post/index.tsx
  frontend/src/hooks/useImageUpload.ts
  frontend/src/hooks/usePostShare.ts
  frontend/tailwind.config.ts
Due: frontend-lint, frontend-format

fix: lefthook厳しいすぎる
  lefthook.yml
Due: none

fix: hoverの色重なり問題
  frontend/package.json
  frontend/src/app/globals.css
  frontend/src/components/layout/Header/components/DropdownMenu.tsx
Due: frontend-lint, frontend-format

chore: tailwind色の禁止スクリプト
  frontend/scripts/check-tailwind-colors.sh
  frontend/src/app/globals.css
  lefthook.yml
Due: frontend-format

fix: 画像もーだる閉じる機能
  frontend/src/app/globals.css
  frontend/src/components/DetailedPost/components/RepliesList.tsx
  frontend/src/components/EditPostModal/components/EditForm.tsx
  frontend/src/components/ImageModal/components/ImageDisplay.tsx
  frontend/src/components/ImageModal/index.tsx
Due: frontend-lint, frontend-format

fix: 画像とじる当たり判定
  frontend/src/components/ImageModal/index.tsx
Due: frontend-lint, frontend-format
