Repository AkaakuHub/natter: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-tailwind-colors-check, frontend-lint, frontend-format, backend-lint, backend-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-tailwind-colors-check:
      glob: "frontend/src/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && ./scripts/check-tailwind-colors.sh
    frontend-lint:
      glob: "frontend/{src,app}/**/*.{ts,tsx}"
      run: cd frontend && pnpm run lint
      stage_fixed: true
    frontend-format:
      glob: "frontend/{src,app}/**/*.{ts,tsx,js,jsx,json,css}"
      run: cd frontend && pnpm run format
      stage_fixed: true
    backend-lint:
      glob: "backend/src/**/*.ts"
      run: cd backend && pnpm run lint
      stage_fixed: true
    backend-format:
      glob: "backend/src/**/*.ts"
      run: cd backend && pnpm run format
      stage_fixed: true

fix: ローディングをloginに導く
  frontend/src/components/SplashScreen.tsx
  frontend/src/core/auth/HybridSPAAuth.tsx
  frontend/src/core/router/RouteEngine.ts
  frontend/src/core/router/TrueSPARouter.tsx
  frontend/src/hooks/useAppInitialization.ts
  frontend/src/middleware.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: dom操作エラー
  frontend/src/components/SplashScreen.tsx
  frontend/src/middleware.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

FIX: ２つの画像の位置
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/components/SplashScreen.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

chore: hydrationを読み込みの見た目のため犠牲
  frontend/src/app/layout.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: imagesPublicのときは必ず元画像
  backend/src/posts/posts.service.ts
Due: backend-lint, backend-format

fix: 2. 画像が公開設定の場合は誰でも元画像を表示
  backend/src/posts/posts.service.ts
Due: backend-lint, backend-format

fix: lockfile, unused
  backend/pnpm-lock.yaml
  backend/pnpm-workspace.yaml
  backend/src/posts/posts.controller.ts
Due: backend-lint, backend-format

chore: add new secret
  backend/.env.example
Due: none

chore: モザイク処理を無効化するオプション
  backend/src/posts/posts.service.ts
Due: backend-lint, backend-format

chore: 条件分岐を単純化
  backend/src/posts/posts.service.ts
Due: backend-lint, backend-format

chore: その他キャラクタータグとURLも対応
  backend/src/characters/characters.module.ts
  backend/src/characters/characters.service.ts
  backend/src/posts/posts.module.ts
  backend/src/posts/posts.service.ts
  backend/src/services/security.service.ts
Due: backend-lint, backend-format

fix: 長い文字がはみ出るバグと、画像追加２回のバグ
  frontend/src/components/CharacterList/index.tsx
  frontend/src/components/CharacterTagSelector/index.tsx
  frontend/src/components/DetailedPost/components/PostContent.tsx
  frontend/src/components/Post/components/PostContent.tsx
  frontend/src/components/common/RichText.tsx
  frontend/src/components/common/UrlPreview.tsx
  frontend/src/hooks/useImageUpload.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: キャラクタータグ長いときの表示くずれ
  docs/character-400-error-investigation.md
  frontend/src/api/client.ts
  frontend/src/components/CharacterList/index.tsx
  frontend/src/components/CharacterTagSelector/index.tsx
  frontend/src/components/DetailedPost/components/PostContent.tsx
  frontend/src/components/FollowList.tsx
  frontend/src/components/FooterMenu.tsx
  frontend/src/components/HybridFooterMenu.tsx
  frontend/src/components/Post/components/PostContent.tsx
  frontend/src/components/Sidebar/RecommendedUsers.tsx
  frontend/src/components/Sidebar/TrendingPosts.tsx
  frontend/src/components/views/SetListView.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

chore: トグル切り替えをwebUIで
  backend/.env.example
  backend/prisma/migrations/20250125_add_admin_and_settings/migration.sql
  backend/prisma/migrations/20250125_add_admin_and_settings_safe/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
  backend/scripts/production-migration.sh
  backend/src/admin/admin.controller.ts
  backend/src/admin/admin.module.ts
  backend/src/admin/admin.service.ts
  backend/src/admin/dto/toggle-secrets.dto.ts
  backend/src/app.module.ts
  backend/src/characters/characters.module.ts
  backend/src/characters/characters.service.ts
  backend/src/posts/posts.module.ts
  backend/src/posts/posts.service.ts
  backend/src/services/security.service.ts
  backend/src/types/auth.types.ts
  frontend/src/components/views/AdminView.tsx
  frontend/src/core/spa/SPARoutes.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format, backend-lint, backend-format

fix: ログアウト時点で真っ白になる問題
  frontend/src/components/views/HomeView.tsx
  frontend/src/components/views/NotificationView.tsx
  frontend/src/components/views/SearchView.tsx
  frontend/src/components/views/SetListView.tsx
  frontend/src/core/HybridSPA.tsx
  frontend/src/core/auth/HybridSPAAuth.tsx
  frontend/src/core/router/ViewRenderer.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: 文言修正
  frontend/src/components/views/AdminView.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: セトリで長い名前折り返し
  frontend/src/components/views/SetListView.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

feat: ごみ削除
  README.md
  backend/README.md
  backend/image-security-test.md
  backend/test-image-security.md
  docs/README.md
  docs/api/implementation.md
  docs/api/overview.md
  docs/api/reference.md
  docs/auth-implementation.md
  docs/auth/jwt-authentication.md
  docs/auth/passkey-system.md
  docs/character-400-error-investigation.md
  docs/database/schema-design.md
  docs/fix-reply-source-post-images.md
  docs/frontend-backend-integration-fixes.md
  docs/frontend-implementation-guide.md
  docs/image-modal-analysis.md
  docs/investigation_timer_progress_issue.md
  docs/troubleshooting/api-errors.md
  docs/ui/avatar-system.md
  docs/ui/like-system.md
  docs/ui/post-creation.md
  docs/ui/profile-navigation.md
  frontend/clear-cache.sh
Due: none

fix: レガシーなエンドポイントを削除。
  backend/prisma/migrations/20250125_add_admin_and_settings/migration.sql
  backend/src/app.module.ts
  backend/src/server/dto/check-server.dto.ts
  backend/src/server/server.controller.ts
  backend/src/server/server.module.ts
  backend/src/server/server.service.ts
Due: backend-lint, backend-format

feat: migrate
  backend/prisma/migrations/20251202125047_a/migration.sql
Due: none

feat: enhance image input
  frontend/src/components/CreatePost/components/ImageDropZone.tsx
  frontend/src/components/CreatePost/components/PostActions.tsx
  frontend/src/components/CreatePostModal/index.tsx
  frontend/src/components/EditPostModal/components/EditForm.tsx
  frontend/src/components/EditPostModal/index.tsx
  frontend/src/components/ReplyModal/components/ReplyForm.tsx
  frontend/src/components/ReplyModal/index.tsx
  frontend/src/hooks/useClipboardImagePaste.ts
  frontend/src/hooks/useImageUpload.ts
  frontend/src/hooks/useReplyModal.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

chore: lefthook
  package.json
Due: none

fix: 自分の投稿は最新判定をしない。
  frontend/src/hooks/useNewPostNotification.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: lefthook
  frontend/src/components/CreatePost/components/ImageDropZone.tsx
  frontend/src/components/CreatePostModal/index.tsx
  frontend/src/components/ReplyModal/index.tsx
  frontend/src/hooks/useImageUpload.ts
  lefthook.yml
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: timer design
  frontend/src/components/Timer/index.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

feat: refine toast
  frontend/src/components/Toast/components/CloseButton.tsx
  frontend/src/components/Toast/components/ToastIcon.tsx
  frontend/src/components/Toast/components/ToastMessage.tsx
  frontend/src/components/Toast/index.tsx
  frontend/src/utils/toastConfig.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: height issue
  frontend/src/components/Search/index.tsx
  frontend/src/components/views/NotificationView.tsx
  frontend/src/components/views/SetListView.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: sharing nav
  frontend/src/hooks/usePostShare.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

feat: キャラクター名自動挿入
  frontend/src/components/CharacterTagSelector/index.tsx
  frontend/src/components/CreatePostModal/index.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: type error
  frontend/package.json
  frontend/src/components/CharacterTagSelector/index.tsx
  lefthook.yml
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

chore: update next
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

feat: 30日間セッションを維持
  frontend/src/auth.ts
Due: none

chore: Cloudflare移行基盤を追加
  .gitignore
  infra/.terraform.lock.hcl
  infra/cloudflare_d1.tf
  infra/cloudflare_r2.tf
  infra/cloudflare_workers.tf
  infra/outputs.tf
  infra/providers.tf
  infra/variables.tf
  infra/versions.tf
  package-lock.json
  package.json
  pnpm-lock.yaml
  scripts/cloudflare/export-d1-sql.sh
  scripts/cloudflare/import-d1-sql.sh
  scripts/cloudflare/upload-r2-images.sh
  scripts/cloudflare/validate-image-refs.mjs
Due: none

feat: D1とR2用API Workerを追加
  workers/api/src/db.ts
  workers/api/src/env.ts
  workers/api/src/http.ts
  workers/api/src/index.ts
  workers/api/src/jwt.ts
  workers/api/src/models.ts
  workers/api/src/sanitize.ts
  workers/api/src/security.ts
  workers/api/tsconfig.json
  workers/api/wrangler.toml
Due: none

feat: frontendをOpenNext Cloudflare対応にする
  frontend/.gitignore
  frontend/next.config.ts
  frontend/open-next.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/public/_headers
  frontend/src/api/client.ts
  frontend/wrangler.jsonc
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: Worker APIの移行漏れを補う
  workers/api/src/index.ts
Due: none

feat: 認証IDをDiscordに移行
  backend/prisma/migrations/20260702000000_rename_twitter_id_to_discord_id/migration.sql
  backend/prisma/schema.prisma
  backend/seed-bot.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/jwt-auth.guard.ts
  backend/src/auth/optional-jwt-auth.guard.ts
  backend/src/users/users.controller.ts
  backend/src/users/users.service.ts
  workers/api/src/index.ts
  workers/api/src/jwt.ts
  workers/api/src/models.ts
Due: backend-lint, backend-format

fix: LinkAuth認証境界の漏れを塞ぐ
  CLAUDE.md
  backend/.env.example
  backend/src/auth/auth.controller.ts
  backend/src/auth/internal-request.ts
  backend/src/users/users.controller.ts
  frontend/.env.example
  frontend/src/api/types.ts
  frontend/src/api/users.ts
  frontend/src/app/api/auth/current-user/route.ts
  frontend/src/auth.ts
  frontend/src/hooks/useUserCreation.ts
  frontend/src/hooks/useUserValidation.ts
  frontend/wrangler.jsonc
  workers/api/src/env.ts
  workers/api/src/index.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format, backend-lint, backend-format

chore: 古いnpm lockを削除
  frontend/package-lock.json
Due: none
