Repository AkaakuHub/natter: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-tailwind-colors-check, frontend-lint, frontend-format, backend-lint, backend-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-tailwind-colors-check:
      glob: "frontend/src/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && ./scripts/check-tailwind-colors.sh
    frontend-lint:
      glob: "frontend/{src,app}/**/*.{ts,tsx}"
      run: cd frontend && pnpm run lint
      stage_fixed: true
    frontend-format:
      glob: "frontend/{src,app}/**/*.{ts,tsx,js,jsx,json,css}"
      run: cd frontend && pnpm run format
      stage_fixed: true
    backend-lint:
      glob: "backend/src/**/*.ts"
      run: cd backend && pnpm run lint
      stage_fixed: true
    backend-format:
      glob: "backend/src/**/*.ts"
      run: cd backend && pnpm run format
      stage_fixed: true

fix: 無駄な画像ホバー拡大
  frontend/src/components/DetailedPost/components/PostContent.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

chore: これはもうたくさん
  docs/fix-reply-source-post-images.md
  frontend/.env.example
  frontend/.gitignore
  frontend/clear-cache.sh
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/api/client.ts
  frontend/src/api/posts.ts
  frontend/src/api/types.ts
  frontend/src/app/profile/page.tsx
  frontend/src/auth.ts
  frontend/src/components/DeleteConfirmDialog/index.tsx
  frontend/src/components/DetailedPost/components/ParentPostCard.tsx
  frontend/src/components/DetailedPost/components/PostHeader.tsx
  frontend/src/components/DetailedPost/index.tsx
  frontend/src/components/EditPostModal/components/EditForm.tsx
  frontend/src/components/EditPostModal/index.tsx
  frontend/src/components/Post/components/PostHeader.tsx
  frontend/src/components/Post/components/PostOwnerActions.tsx
  frontend/src/components/Post/index.tsx
  frontend/src/components/ReplyModal/components/OriginalPost.tsx
  frontend/src/components/ReplyModal/index.tsx
  frontend/src/components/TimeLine/index.tsx
  frontend/src/components/shared/ReplySourcePost.tsx
  frontend/src/hooks/useCurrentUser.ts
  frontend/src/hooks/useImageUpload.ts
  frontend/src/hooks/usePostActions.ts
  frontend/src/hooks/usePostDelete.ts
  frontend/src/hooks/usePostEdit.ts
  frontend/src/hooks/usePostLike.ts
  frontend/src/utils/postTransformers.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: env
  frontend/.env.example
Due: none

fix: 編集もーだる
  frontend/src/components/DetailedPost/index.tsx
  frontend/src/components/EditPostModal/index.tsx
  frontend/src/components/Post/index.tsx
  frontend/src/components/shared/ReplySourcePost.tsx
  frontend/src/hooks/useCurrentUser.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: 無駄なpuls
  frontend/src/components/DetailedPost/components/PostActions.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: ポスト詳細で、サムネイル非表示問題
  frontend/src/components/DetailedPost/index.tsx
  frontend/src/components/ReplyModal/components/OriginalPost.tsx
  frontend/src/components/shared/ReplySourcePost.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: 削除ポストの扱い
  backend/prisma/migrations/20250707155706_add_deleted_at/migration.sql
  backend/prisma/schema.prisma
  backend/src/posts/posts.service.ts
  frontend/src/api/types.ts
  frontend/src/components/DetailedPost/index.tsx
  frontend/src/components/Post/index.tsx
  frontend/src/components/shared/ReplySourcePost.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format, backend-lint, backend-format

fix: 詳細ポストのいいねリロード
  frontend/src/components/DeleteConfirmDialog/index.tsx
  frontend/src/components/DetailedPost/index.tsx
  frontend/src/components/FooterMenu.tsx
  frontend/src/components/Post/index.tsx
  frontend/src/components/TimeLine/index.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: フッター色
  frontend/src/components/FooterMenu.tsx
  frontend/src/components/layout/BaseLayout.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

chore: valudateポスト
  backend/package.json
  backend/pnpm-lock.yaml
  backend/src/main.ts
  backend/src/posts/dto/create-post.dto.ts
  backend/src/posts/dto/update-post.dto.ts
  backend/src/posts/posts.controller.ts
  backend/src/posts/posts.service.ts
  frontend/src/app/globals.css
  frontend/src/components/CreatePost/components/PostTextArea.tsx
  frontend/src/components/DetailedPost/components/PostContent.tsx
  frontend/src/components/Post/components/PostContent.tsx
  frontend/src/components/Post/index.tsx
  frontend/src/utils/htmlUtils.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format, backend-lint, backend-format

chore: テキスト選択が見えていない問題を修正
  frontend/src/app/globals.css
  frontend/src/components/CreatePost/components/PostTextArea.tsx
  frontend/src/components/DetailedPost/components/PostContent.tsx
  frontend/src/components/Post/components/PostContent.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: ポストのホバー
  frontend/src/components/Post/index.tsx
  frontend/src/components/layout/Header/components/DropdownMenu.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: 謎の画像カウント
  frontend/src/components/DeleteConfirmDialog/index.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: ポスト詳細からのリプライ復活
  backend/src/posts/dto/create-post.dto.ts
  backend/src/posts/posts.service.ts
  frontend/src/api/client.ts
  frontend/src/app/post/[id]/page.tsx
  frontend/src/components/DetailedPost/index.tsx
  frontend/src/components/ReplyModal/index.tsx
  frontend/src/hooks/usePostActions.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format, backend-lint, backend-format

fix: タイムラインからも返信を
  frontend/src/app/(index)/page.tsx
  frontend/src/app/post/[id]/page.tsx
  frontend/src/components/Post/index.tsx
  frontend/src/components/ReplyModal/index.tsx
  frontend/src/components/TimeLine/index.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

chore: 画像の最小の大きさを担保
  frontend/src/components/DetailedPost/components/PostContent.tsx
  frontend/src/components/ImageModal/components/ImageDisplay.tsx
  frontend/src/components/Post/components/PostContent.tsx
  frontend/src/components/shared/ReplySourcePost.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: profileからの返信を修正
  frontend/src/components/FooterMenu.tsx
  frontend/src/components/Profile/index.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

chore: ctrl + enterで送信
  frontend/src/components/CreatePost/components/PostTextArea.tsx
  frontend/src/components/CreatePost/index.tsx
  frontend/src/components/EditPostModal/components/EditForm.tsx
  frontend/src/components/ReplyModal/components/ReplyForm.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: フッターを押して自動でスクロール
  frontend/src/components/FooterMenu.tsx
  frontend/src/components/layout/BaseLayout.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

chore: JWT修正
  backend/.env.example
  backend/.gitignore
  backend/.sample.env
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.guard.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/jwt-auth.guard.ts
  backend/src/posts/posts.controller.ts
  backend/src/types/auth.types.ts
  frontend/src/api/client.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format, backend-lint, backend-format

chore: 本番用のコマンド用意
  backend/package.json
  frontend/package.json
Due: none

fix: バックエンドのアカウントAPIミス
  backend/src/auth/auth.controller.ts
  backend/src/users/users.controller.ts
Due: backend-lint, backend-format

chore: 本番環境でのドメインを追加
  frontend/next.config.ts
  frontend/src/auth.ts
Due: none

fix: 投稿すると、リロードされる問題?
  frontend/src/components/CreatePost/index.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

chore: twitter名前デバッグ
  backend/src/users/users.controller.ts
  backend/src/users/users.service.ts
  frontend/src/auth.ts
Due: backend-lint, backend-format

fix: any
  frontend/src/auth.ts
Due: none

fix: twitterの名前設定のバグを修正
  backend/src/users/users.service.ts
  frontend/src/auth.ts
  frontend/src/hooks/useUserCreation.ts
  frontend/src/types.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format, backend-lint, backend-format

fix: いらないseedを削除
  backend/prisma/seed.ts
Due: none

chore: ユーザー名変更機能を追加し、ポストできない認証エラーを修正
  backend/src/auth/jwt-auth.guard.ts
  backend/src/users/users.controller.ts
  backend/src/users/users.service.ts
  frontend/src/api/client.ts
  frontend/src/api/users.ts
  frontend/src/components/Post/components/PostHeader.tsx
  frontend/src/components/Profile/EditProfileModal.tsx
  frontend/src/components/Profile/ProfileHeader.tsx
  frontend/src/hooks/useUserValidation.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format, backend-lint, backend-format

fix: 名前の表示崩れ
  frontend/src/components/Post/components/PostHeader.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

chore: ctrl Enter機能を共通フックに
  frontend/src/components/CreatePost/components/PostTextArea.tsx
  frontend/src/components/EditPostModal/components/EditForm.tsx
  frontend/src/components/Profile/EditProfileModal.tsx
  frontend/src/components/layout/BaseLayout.tsx
  frontend/src/hooks/useKeyboardShortcuts.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: e prevent error
  frontend/src/components/Profile/EditProfileModal.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

chore: ポストモーダル
  frontend/knip.config.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/api/auth.ts
  frontend/src/api/types.ts
  frontend/src/api/users.ts
  frontend/src/components/CreatePost/index.tsx
  frontend/src/components/CreatePostButton/index.tsx
  frontend/src/components/CreatePostModal/index.tsx
  frontend/src/components/ImageModal/components/ModalHeader.tsx
  frontend/src/components/ImageModal/components/ThumbnailNavigation.tsx
  frontend/src/components/TimeLine/index.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/hooks/useApiCall.ts
  frontend/src/hooks/useDebounce.ts
  frontend/src/hooks/useInfiniteScroll.ts
  frontend/src/hooks/useLocalStorage.ts
  frontend/src/hooks/useModal.ts
  frontend/src/hooks/usePostLike.ts
  frontend/src/hooks/usePostReply.ts
  frontend/src/stores/authStore.ts
  frontend/src/utils/postTransformers.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

chore: ショートかっとキーを追加
  frontend/src/app/layout.tsx
  frontend/src/components/CreatePost/components/PostTextArea.tsx
  frontend/src/components/DetailedPost/components/RepliesList.tsx
  frontend/src/components/ShortcutHelpModal/index.tsx
  frontend/src/components/TimeLine/index.tsx
  frontend/src/components/layout/BaseLayout.tsx
  frontend/src/contexts/AppStateContext.tsx
  frontend/src/hooks/useGlobalKeyboardShortcuts.ts
  frontend/src/hooks/useInputFocus.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

chore: 検索機能を実装
  backend/src/posts/posts.controller.ts
  backend/src/posts/posts.service.ts
  frontend/src/api/posts.ts
  frontend/src/app/search/page.tsx
  frontend/src/components/FooterMenu.tsx
  frontend/src/components/Search/index.tsx
  frontend/src/components/layout/BaseLayout.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format, backend-lint, backend-format

chore: PCでのおすすめポスト表示機能
  backend/src/posts/posts.controller.ts
  backend/src/posts/posts.service.ts
  backend/src/users/users.controller.ts
  backend/src/users/users.service.ts
  frontend/src/api/client.ts
  frontend/src/api/index.ts
  frontend/src/api/posts.ts
  frontend/src/api/users.ts
  frontend/src/app/(index)/page.tsx
  frontend/src/app/globals.css
  frontend/src/components/Post/index.tsx
  frontend/src/components/Sidebar/RecommendedUsers.tsx
  frontend/src/components/Sidebar/TrendingPosts.tsx
  frontend/src/components/TimeLine/index.tsx
  frontend/src/components/layout/BaseLayout.tsx
  frontend/src/hooks/usePostActions.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format, backend-lint, backend-format

chore: log消す
  frontend/src/hooks/useDetailedPost.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: type error
  frontend/src/api/types.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: build error
  frontend/src/components/CreatePost/components/PostTextArea.tsx
  frontend/src/hooks/useInputFocus.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

chore: 細かい修正
  frontend/src/api/posts.ts
  frontend/src/api/users.ts
  frontend/src/middleware.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format
