Repository AkaakuHub/natter: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-tailwind-colors-check, frontend-lint, frontend-format, backend-lint, backend-format

frontend-tailwind-colors-check:
  run: cd frontend && ./scripts/check-tailwind-colors.sh

frontend-lint:
  run: cd frontend && pnpm run lint
  stage_fixed: true

frontend-format:
  run: cd frontend && pnpm run format
  stage_fixed: true

backend-lint:
  run: cd backend && pnpm run lint
  stage_fixed: true

backend-format:
  run: cd backend && pnpm run format
  stage_fixed: true

test: ユーザーAPIラッパーの挙動を固定する
  frontend/src/api/users.test.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

test: フロント画像キャッシュの挙動を固定する
  frontend/src/utils/imageUtils.test.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

test: Workerのモザイク画像処理を固定する
  workers/api/src/images/mosaic.test.ts
Due: none

test: キャラクター色表示の挙動を固定する
  frontend/src/utils/characterColorUtils.test.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

test: フロントAPIラッパー群の挙動を固定する
  frontend/src/api/apiWrappers.test.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

refactor: フロントAPIレスポンス処理を分離する
  frontend/src/api/client.ts
  frontend/src/api/response.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

refactor: Workerの投稿入力解析を分離する
  workers/api/src/index.ts
  workers/api/src/posts/input.test.ts
  workers/api/src/posts/input.ts
Due: none

refactor: Workerの投稿画像保存を分離する
  workers/api/src/index.ts
  workers/api/src/posts/images.test.ts
  workers/api/src/posts/images.ts
Due: none

perf: 投稿一覧の再計算を抑える
  frontend/src/components/Post/components/PostContent.tsx
  frontend/src/components/Post/index.tsx
  frontend/src/components/TimeLine/index.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

perf: 認証付き画像取得の重複を抑える
  frontend/src/utils/imageUtils.test.ts
  frontend/src/utils/imageUtils.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

refactor: 投稿変換をドメイン層へ移す
  frontend/src/components/DetailedPost/components/RepliesList.tsx
  frontend/src/components/Profile/index.tsx
  frontend/src/components/Search/index.tsx
  frontend/src/components/Sidebar/TrendingPosts.tsx
  frontend/src/components/TimeLine/index.tsx
  frontend/src/domain/posts/postTransformers.test.ts
  frontend/src/domain/posts/postTransformers.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

refactor: Workerの画像content-type判定を分離する
  workers/api/src/images/contentType.test.ts
  workers/api/src/images/contentType.ts
  workers/api/src/index.ts
Due: none

perf: BaseLayoutのrender時ログを削除する
  frontend/src/components/layout/BaseLayout.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: 最新投稿の反映とスケルトン表示を整える
  frontend/src/components/CharacterList/index.tsx
  frontend/src/components/Search/index.tsx
  frontend/src/components/TimeLine/index.tsx
  frontend/src/components/common/AuthenticatedImage.tsx
  frontend/src/components/common/LoadingSpinner.tsx
  frontend/src/components/layout/BaseLayout.tsx
  frontend/src/components/layout/HybridBaseLayout.tsx
  frontend/src/components/views/NotificationView.tsx
  frontend/src/components/views/SetListView.tsx
  frontend/src/hooks/queries/usePosts.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

feat: SSEで投稿更新を即時反映する
  frontend/src/components/common/SkeletonLoading.tsx
  frontend/src/components/layout/BaseLayout.tsx
  frontend/src/components/layout/HybridBaseLayout.tsx
  frontend/src/components/views/AdminView.tsx
  frontend/src/components/views/HomeView.tsx
  frontend/src/components/views/SearchView.tsx
  frontend/src/contexts/ServerStatusContext.tsx
  frontend/src/core/HybridSPA.tsx
  frontend/src/core/router/ViewRenderer.tsx
  frontend/src/hooks/queries/usePosts.ts
  frontend/src/hooks/realtimePostEvent.test.ts
  frontend/src/hooks/realtimePostEvent.ts
  frontend/src/hooks/useNewPostNotification.ts
  frontend/src/lib/react-query.ts
  workers/api/src/env.ts
  workers/api/src/index.test.ts
  workers/api/src/index.ts
  workers/api/src/realtime.test.ts
  workers/api/src/realtime.ts
  workers/api/wrangler.local.toml
  workers/api/wrangler.toml
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: Cloudflareビルドのpnpm設定を分離する
  frontend/pnpm-workspace.yaml
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: フロントビルドからテスト設定を除外する
  frontend/tsconfig.json
Due: none

fix: ヘッダーアイコン位置とスワイプ戻りを整える
  frontend/src/components/layout/BaseLayout.tsx
  frontend/src/components/layout/Header/components/Logo.tsx
  frontend/src/components/layout/HybridBaseLayout.tsx
  frontend/src/hooks/useSwipeBackNavigation.ts
  frontend/src/middleware.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

style: フロントコードを整形する
  frontend/src/api/client.test.ts
  frontend/src/api/client.ts
  frontend/src/api/posts.test.ts
  frontend/src/api/response.ts
  frontend/src/components/Post/index.tsx
  frontend/src/components/TimeLine/index.tsx
  frontend/src/hooks/realtimePostEvent.test.ts
  frontend/src/utils/decodeContent.test.ts
  frontend/src/utils/imageUtils.test.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: ローカルdevでWorkers APIを起動する
  package.json
Due: none

style: フロントUIの質感を整える
  frontend/src/app/globals.css
  frontend/src/components/CharacterTagSelector/index.tsx
  frontend/src/components/CreatePost/components/ImageDropZone.tsx
  frontend/src/components/CreatePost/components/ImagePreview.tsx
  frontend/src/components/CreatePost/components/PostActions.tsx
  frontend/src/components/CreatePostButton/index.tsx
  frontend/src/components/CreatePostModal/index.tsx
  frontend/src/components/DeleteConfirmDialog/index.tsx
  frontend/src/components/DetailedPost/components/BackButton.tsx
  frontend/src/components/DetailedPost/components/PostActions.tsx
  frontend/src/components/DetailedPost/components/PostContent.tsx
  frontend/src/components/DetailedPost/components/PostHeader.tsx
  frontend/src/components/DetailedPost/index.tsx
  frontend/src/components/EditCharacterModal/index.tsx
  frontend/src/components/EditPostModal/components/EditForm.tsx
  frontend/src/components/EditPostModal/components/ModalHeader.tsx
  frontend/src/components/EditPostModal/index.tsx
  frontend/src/components/FollowButton/index.tsx
  frontend/src/components/FollowList.tsx
  frontend/src/components/ImageModal/components/NavigationButtons.tsx
  frontend/src/components/ImageModal/index.tsx
  frontend/src/components/NewPostBanner/index.tsx
  frontend/src/components/Post/components/PostActions.tsx
  frontend/src/components/Post/components/PostContent.tsx
  frontend/src/components/Post/components/PostOwnerActions.tsx
  frontend/src/components/ReplyModal/components/ModalHeader.tsx
  frontend/src/components/ReplyModal/components/ReplyForm.tsx
  frontend/src/components/ReplyModal/index.tsx
  frontend/src/components/Search/index.tsx
  frontend/src/components/ShortcutHelpModal/index.tsx
  frontend/src/components/Timer/index.tsx
  frontend/src/components/Toast/components/ToastIcon.tsx
  frontend/src/components/Toast/index.tsx
  frontend/src/components/Welcome/index.tsx
  frontend/src/components/layout/Header/components/ProfileDropdown.tsx
  frontend/src/components/shared/ReplySourcePost.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/views/SetListView.tsx
  frontend/src/styles/ui.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: ローカルdev認証をlocal-headerにする
  frontend/.env.example
  frontend/src/app/api/backend/[...path]/route.ts
  frontend/src/auth.test.ts
  frontend/src/auth.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: ローカル認証ユーザーをDBに同期する
  frontend/src/auth.test.ts
  frontend/src/auth.ts
  workers/api/src/auth.test.ts
  workers/api/src/auth.ts
  workers/api/src/index.test.ts
Due: none

fix: ローカルdevのD1初期化と中継ヘッダーを直す
  backend/pnpm-workspace.yaml
  frontend/src/api/backendProxyHeaders.test.ts
  frontend/src/api/backendProxyHeaders.ts
  frontend/src/app/api/backend/[...path]/route.ts
  package.json
  scripts/cloudflare/local-d1-schema.sql
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

style: ポップアップの輪郭を見やすくする
  frontend/src/app/globals.css
  frontend/src/components/ShortcutHelpModal/index.tsx
  frontend/src/components/TimeLine/index.tsx
  frontend/src/components/layout/Header/components/DropdownMenu.tsx
  frontend/src/styles/ui.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: 画像アップロードを堅牢にする
  frontend/src/utils/normalizePostImages.ts
  workers/api/src/posts/images.test.ts
  workers/api/src/posts/images.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: 画像正規化のフォールバックを廃止する
  frontend/src/utils/normalizePostImages.test.ts
  frontend/src/utils/normalizePostImages.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: 非公開画像の不要な認証取得を避ける
  frontend/src/components/DetailedPost/components/ParentPostCard.tsx
  frontend/src/components/DetailedPost/components/PostContent.tsx
  frontend/src/components/DetailedPost/index.tsx
  frontend/src/components/ImageModal/components/ImageDisplay.tsx
  frontend/src/components/ImageModal/index.tsx
  frontend/src/components/Post/components/PostContent.tsx
  frontend/src/components/Post/index.tsx
  frontend/src/components/ReplyModal/components/OriginalPost.tsx
  frontend/src/components/ReplyModal/index.tsx
  frontend/src/components/common/AuthenticatedImage.tsx
  frontend/src/components/shared/ReplySourcePost.tsx
  frontend/src/domain/posts/imageAccess.test.ts
  frontend/src/domain/posts/imageAccess.ts
  frontend/src/domain/posts/postTransformers.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: 画像表示の認証経路を正す
  frontend/src/components/DetailedPost/components/ParentPostCard.tsx
  frontend/src/components/DetailedPost/components/PostContent.tsx
  frontend/src/components/DetailedPost/index.tsx
  frontend/src/components/ImageModal/components/ImageDisplay.tsx
  frontend/src/components/ImageModal/index.tsx
  frontend/src/components/Post/components/PostContent.tsx
  frontend/src/components/Post/index.tsx
  frontend/src/components/ReplyModal/components/OriginalPost.tsx
  frontend/src/components/ReplyModal/index.tsx
  frontend/src/components/common/AuthenticatedImage.tsx
  frontend/src/components/shared/ReplySourcePost.tsx
  frontend/src/domain/posts/imageAccess.test.ts
  frontend/src/domain/posts/imageAccess.ts
  workers/api/src/index.test.ts
  workers/api/src/index.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: 画像認証をセッション検証にする
  workers/api/src/auth.test.ts
  workers/api/src/auth.ts
  workers/api/src/index.ts
Due: none

fix: API認証をセッション検証に統一する
  workers/api/src/auth.test.ts
  workers/api/src/auth.ts
  workers/api/src/index.ts
Due: none

fix: 投稿編集とモバイル表示を修正する
  backend/src/posts/dto/update-post.dto.ts
  backend/src/posts/posts.controller.ts
  backend/src/posts/posts.service.ts
  frontend/src/api/types.ts
  frontend/src/app/globals.css
  frontend/src/components/CreatePostModal/index.tsx
  frontend/src/components/EditPostModal/components/EditForm.tsx
  frontend/src/components/EditPostModal/index.tsx
  frontend/src/components/FooterMenu.tsx
  frontend/src/components/HybridFooterMenu.tsx
  frontend/src/components/layout/BaseLayout.tsx
  frontend/src/components/layout/HybridBaseLayout.tsx
  frontend/src/domain/posts/editPostChanges.test.ts
  frontend/src/domain/posts/editPostChanges.ts
  frontend/src/hooks/clipboardImages.test.ts
  frontend/src/hooks/clipboardImages.ts
  frontend/src/hooks/imageUploadState.test.ts
  frontend/src/hooks/imageUploadState.ts
  frontend/src/hooks/useClipboardImagePaste.ts
  frontend/src/hooks/useImageUpload.ts
  frontend/src/hooks/usePostEdit.ts
  workers/api/src/index.ts
  workers/api/src/posts/input.test.ts
  workers/api/src/posts/input.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format, backend-lint, backend-format

style: auth controllerのimportを整形する
  backend/src/auth/auth.controller.ts
Due: backend-lint, backend-format

fix: プロフィールのスクロールとタブ件数を修正する
  frontend/src/components/CharacterList/index.tsx
  frontend/src/components/Profile/TabsComponent.tsx
  frontend/src/components/Profile/index.tsx
  frontend/src/components/Timer/index.tsx
  frontend/src/domain/profile/profileTabCounts.test.ts
  frontend/src/domain/profile/profileTabCounts.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: タブ画面のスクロールレイアウトを共通化する
  frontend/src/components/layout/AppScrollLayout.tsx
  frontend/src/components/layout/BaseLayout.tsx
  frontend/src/components/layout/HybridBaseLayout.tsx
  frontend/src/components/layout/scrollLayout.test.ts
  frontend/src/components/layout/scrollLayout.ts
  frontend/src/hooks/useNewPostNotification.ts
  frontend/src/hooks/useScrollContainer.ts
  frontend/src/hooks/useScrollLock.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: 編集画像プレビューの認証経路を修正する
  frontend/src/components/CreatePost/components/ImagePreview.tsx
  frontend/src/components/CreatePost/components/imagePreviewSource.test.ts
  frontend/src/components/CreatePost/components/imagePreviewSource.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: スワイプ戻りを画面全体で有効にする
  frontend/src/components/layout/BaseLayout.tsx
  frontend/src/components/layout/HybridBaseLayout.tsx
  frontend/src/domain/navigation/swipeBackGesture.test.ts
  frontend/src/domain/navigation/swipeBackGesture.ts
  frontend/src/hooks/useSwipeBackNavigation.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

refactor: 共通スタイルをTailwindに統一する
  frontend/src/app/globals.css
  frontend/src/app/layout.tsx
  frontend/src/components/CreatePostModal/index.tsx
  frontend/src/components/DetailedPost/components/PostContent.tsx
  frontend/src/components/EditPostModal/index.tsx
  frontend/src/components/FooterMenu.tsx
  frontend/src/components/HybridFooterMenu.tsx
  frontend/src/components/Post/components/PostContent.tsx
  frontend/src/components/common/OptimizedImage.tsx
  frontend/src/components/layout/AppScrollLayout.tsx
  frontend/src/components/layout/scrollLayout.test.ts
  frontend/src/components/layout/scrollLayout.ts
  frontend/src/hooks/useScrollLock.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

Path conditions:
  frontend-tailwind-colors-check: any of: frontend/src/**/*.{ts,tsx,js,jsx}
  frontend-lint: any of: frontend/{src,app}/**/*.{ts,tsx}
  frontend-format: any of: frontend/{src,app}/**/*.{ts,tsx,js,jsx,json,css}
  backend-lint: any of: backend/src/**/*.ts
  backend-format: any of: backend/src/**/*.ts
