Repository AkaakuHub/natter: changes, and which lefthook commands are due for each by the changed paths.
All: frontend-tailwind-colors-check, frontend-lint, frontend-format, backend-lint, backend-format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    frontend-tailwind-colors-check:
      glob: "frontend/src/**/*.{ts,tsx,js,jsx}"
      run: cd frontend && ./scripts/check-tailwind-colors.sh
    frontend-lint:
      glob: "frontend/{src,app}/**/*.{ts,tsx}"
      run: cd frontend && pnpm run lint
      stage_fixed: true
    frontend-format:
      glob: "frontend/{src,app}/**/*.{ts,tsx,js,jsx,json,css}"
      run: cd frontend && pnpm run format
      stage_fixed: true
    backend-lint:
      glob: "backend/src/**/*.ts"
      run: cd backend && pnpm run lint
      stage_fixed: true
    backend-format:
      glob: "backend/src/**/*.ts"
      run: cd backend && pnpm run format
      stage_fixed: true

chore: 上にもトリガー
  frontend/src/components/layout/BaseLayout.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/layout/Header/components/Logo.tsx
  frontend/src/middleware.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: trending 400 error
  backend/src/posts/posts.controller.ts
Due: backend-lint, backend-format

chore: del log
  frontend/src/components/shared/ReplySourcePost.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

chore: 作成ボタンの位置
  frontend/src/components/CreatePostButton/index.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

chore: OGP関連
  backend/src/main.ts
  frontend/public/robots.txt
  frontend/src/app/layout.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

chore: フォロー機能
  backend/prisma/migrations/20250708163055_add_follow_model/migration.sql
  backend/prisma/schema.prisma
  backend/seed-bot.ts
  backend/src/app.module.ts
  backend/src/follows/follows.controller.ts
  backend/src/follows/follows.module.ts
  backend/src/follows/follows.service.ts
  backend/src/main.ts
  backend/src/users/users.service.ts
  frontend/src/api/follows.ts
  frontend/src/api/index.ts
  frontend/src/components/FollowButton/index.tsx
  frontend/src/components/Profile/ProfileHeader.tsx
  frontend/src/components/Sidebar/RecommendedUsers.tsx
  frontend/src/components/Sidebar/TrendingPosts.tsx
  frontend/src/hooks/useImageUpload.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format, backend-lint, backend-format

chore: 高速化
  frontend/next.config.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/api/follows.ts
  frontend/src/app/providers.tsx
  frontend/src/components/FollowButton/index.tsx
  frontend/src/components/Post/index.tsx
  frontend/src/components/Profile/ProfileHeader.tsx
  frontend/src/components/Sidebar/RecommendedUsers.tsx
  frontend/src/components/TimeLine/index.tsx
  frontend/src/components/common/OptimizedImage.tsx
  frontend/src/components/layout/BaseLayout.tsx
  frontend/src/hooks/queries/useFollows.ts
  frontend/src/hooks/queries/usePosts.ts
  frontend/src/hooks/queries/useUsers.ts
  frontend/src/hooks/useImagePreload.ts
  frontend/src/lib/react-query.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

chore: フォロー、フォロワー確認
  frontend/src/app/profile/[id]/followers/page.tsx
  frontend/src/app/profile/[id]/following/page.tsx
  frontend/src/app/profile/followers/page.tsx
  frontend/src/app/profile/following/page.tsx
  frontend/src/components/FollowList/index.tsx
  frontend/src/components/Profile/ProfileHeader.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

chore: デザイン画面修正
  frontend/src/app/profile/[id]/followers/page.tsx
  frontend/src/app/profile/[id]/following/page.tsx
  frontend/src/app/profile/followers/page.tsx
  frontend/src/app/profile/following/page.tsx
  frontend/src/components/FollowList/index.tsx
  frontend/src/components/Sidebar/TrendingPosts.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

chore: jwt log deleted
  backend/src/auth/jwt-auth.guard.ts
Due: backend-lint, backend-format

chore: DOMごと非表示サイドバー
  frontend/src/components/layout/BaseLayout.tsx
  frontend/src/hooks/useMediaQuery.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: タイムラインが更新されない問題
  frontend/src/hooks/queries/usePosts.ts
  frontend/src/lib/react-query.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

chore: キャラカード
  backend/prisma/migrations/20250709031517_add_character_model/migration.sql
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/auth/optional-jwt-auth.guard.ts
  backend/src/characters/characters.controller.ts
  backend/src/characters/characters.module.ts
  backend/src/characters/characters.service.ts
  backend/src/characters/dto/create-character.dto.ts
  backend/src/characters/dto/update-character.dto.ts
  backend/src/posts/dto/create-post.dto.ts
  backend/src/posts/posts.controller.ts
  backend/src/posts/posts.service.ts
  frontend/src/api/characters.ts
  frontend/src/api/index.ts
  frontend/src/api/types.ts
  frontend/src/app/login/page.tsx
  frontend/src/components/CharacterList/index.tsx
  frontend/src/components/CharacterSelector/index.tsx
  frontend/src/components/CreatePost/components/PostTextArea.tsx
  frontend/src/components/CreatePostModal/index.tsx
  frontend/src/components/DetailedPost/components/PostContent.tsx
  frontend/src/components/DetailedPost/index.tsx
  frontend/src/components/EditPostModal/components/EditForm.tsx
  frontend/src/components/EditPostModal/index.tsx
  frontend/src/components/Post/components/PostContent.tsx
  frontend/src/components/Post/index.tsx
  frontend/src/components/Profile/EditProfileModal.tsx
  frontend/src/components/Profile/TabsComponent.tsx
  frontend/src/components/Profile/index.tsx
  frontend/src/components/ReplyModal/components/ReplyForm.tsx
  frontend/src/hooks/queries/useCharacters.ts
  frontend/src/hooks/usePostSubmit.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format, backend-lint, backend-format

fix: 画像最適化
  frontend/src/api/follows.ts
  frontend/src/components/CreatePost/components/ImagePreview.tsx
  frontend/src/components/DetailedPost/components/PostContent.tsx
  frontend/src/components/Post/components/PostContent.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

chore: 不要なコードをさくじょ
  frontend/src/components/Post/components/PostContent.tsx
  frontend/src/hooks/queries/useCharacters.ts
  frontend/src/hooks/queries/useFollows.ts
  frontend/src/hooks/queries/usePosts.ts
  frontend/src/hooks/queries/useUsers.ts
  frontend/src/hooks/useImagePreload.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

chore: 通知タブ
  backend/prisma/migrations/20250709064723_add_notifications/migration.sql
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/notifications/dto/create-notification.dto.ts
  backend/src/notifications/dto/update-notification.dto.ts
  backend/src/notifications/notifications.controller.ts
  backend/src/notifications/notifications.module.ts
  backend/src/notifications/notifications.service.ts
  backend/src/posts/posts.module.ts
  backend/src/posts/posts.service.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/api/index.ts
  frontend/src/api/notifications.ts
  frontend/src/app/notification/page.tsx
  frontend/src/components/NotificationItem/index.tsx
  frontend/src/hooks/queries/useNotifications.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format, backend-lint, backend-format

chore: キャラクター表示画面を追加
  frontend/src/api/types.ts
  frontend/src/app/set-list/page.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: 新規でユーザーがまた作れなかった問題
  backend/src/auth/auth.module.ts
  backend/src/auth/jwt.strategy.ts
  backend/src/follows/follows.module.ts
  backend/src/main.ts
  backend/src/notifications/notifications.controller.ts
  backend/src/notifications/notifications.module.ts
  backend/src/posts/posts.module.ts
  frontend/src/api/client.ts
  frontend/src/api/users.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format, backend-lint, backend-format

chore: 開発用のキャッシュ無効化
  frontend/next.config.ts
Due: none

chore: バックエンド側での隠蔽処理を強化
  frontend/src/components/CharacterList/index.tsx
  frontend/src/components/CharacterSelector/index.tsx
  frontend/src/components/CharacterTagSelector/index.tsx
  frontend/src/components/CreatePostModal/index.tsx
  frontend/src/hooks/usePostSubmit.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: キャラクタータグの隠蔽がおかしかった
  backend/prisma/migrations/20250710014006_add_character_posts_count/migration.sql
  backend/prisma/schema.prisma
  backend/scripts/update-character-posts-count.ts
  backend/src/characters/characters.controller.ts
  backend/src/characters/characters.service.ts
  backend/src/posts/dto/create-post.dto.ts
  backend/src/posts/posts.controller.ts
  backend/src/posts/posts.service.ts
  frontend/src/components/CharacterList/index.tsx
  frontend/src/components/CharacterTagSelector/index.tsx
  frontend/src/components/CreatePostModal/index.tsx
  frontend/src/components/EditPostModal/index.tsx
  frontend/src/hooks/useFormValidation.ts
  frontend/src/hooks/usePostSubmit.ts
  frontend/src/utils/postTransformers.ts
  package.json
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format, backend-lint, backend-format

chore: キャラクタータグの表示向上した
  backend/src/main.ts
  backend/src/posts/posts.controller.ts
  frontend/src/components/CharacterTagSelector/index.tsx
  frontend/src/components/CreatePostModal/index.tsx
  frontend/src/components/DetailedPost/components/PostContent.tsx
  frontend/src/components/Post/components/PostContent.tsx
  frontend/src/components/Profile/EditProfileModal.tsx
  frontend/src/hooks/queries/useCharacters.ts
  frontend/src/hooks/queries/usePosts.ts
  frontend/src/hooks/queries/useUsers.ts
  frontend/src/hooks/usePostActions.ts
  frontend/src/hooks/usePostSubmit.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format, backend-lint, backend-format

fix: linterror
  frontend/src/components/Profile/EditProfileModal.tsx
  frontend/src/hooks/queries/usePosts.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: 名前を変えたらリロード
  frontend/src/components/Profile/EditProfileModal.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: 初回名前編集時に違う名前が入る問題
  frontend/src/components/Profile/EditProfileModal.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: ???ではなく実際の文字数を反映
  backend/src/characters/characters.service.ts
  backend/src/posts/posts.service.ts
Due: backend-lint, backend-format

chore: キャラクタータグに色を追加
  frontend/src/components/CharacterTagSelector/index.tsx
  frontend/src/components/DetailedPost/components/PostContent.tsx
  frontend/src/components/Post/components/PostContent.tsx
  frontend/src/utils/characterColorUtils.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: 少し画像を最適化
  frontend/src/app/layout.tsx
  frontend/src/components/Profile/ProfileHeader.tsx
  frontend/src/components/common/OptimizedImage.tsx
  frontend/src/components/layout/Header/components/ProfileDropdown.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: ポストボタンの位置
  frontend/src/components/CreatePostButton/index.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: キャラクタータグドロップダウン修正
  frontend/src/components/CharacterTagSelector/index.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: プロフィールタブのスクロール
  frontend/src/components/Profile/index.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: ポストを削除したらキャラクター使用回数を減らす
  backend/src/posts/posts.service.ts
  frontend/src/components/CharacterList/index.tsx
  frontend/src/hooks/usePostDelete.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format, backend-lint, backend-format

fix: iinenoまいなすバグ
  backend/src/follows/follows.module.ts
  backend/src/follows/follows.service.ts
  backend/src/notifications/notifications.service.ts
  backend/src/posts/posts.service.ts
  frontend/src/components/NotificationItem/index.tsx
  frontend/src/hooks/usePostActions.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format, backend-lint, backend-format

fix: 通知の種類を追加、ログインしていない状態で見れる場所を追加
  backend/src/notifications/notifications.service.ts
  backend/src/posts/posts.service.ts
  frontend/src/api/client.ts
  frontend/src/app/post/[id]/page.tsx
  frontend/src/app/profile/[id]/followers/page.tsx
  frontend/src/app/profile/[id]/following/page.tsx
  frontend/src/app/profile/[id]/page.tsx
  frontend/src/components/DetailedPost/components/ErrorState.tsx
  frontend/src/components/DetailedPost/components/PostActions.tsx
  frontend/src/components/DetailedPost/index.tsx
  frontend/src/components/FollowList/index.tsx
  frontend/src/components/NotificationItem/index.tsx
  frontend/src/components/Post/components/PostActions.tsx
  frontend/src/components/Profile/ProfileHeader.tsx
  frontend/src/components/Profile/index.tsx
  frontend/src/components/layout/BaseLayout.tsx
  frontend/src/hooks/usePostShare.ts
  frontend/src/middleware.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format, backend-lint, backend-format

chore: 狭い画面でもプロフィールを見えるように
  frontend/src/components/Profile/ProfileHeader.tsx
  frontend/src/components/Profile/TabsComponent.tsx
  frontend/src/components/Profile/index.tsx
  frontend/src/components/layout/BaseLayout.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

chore: postが殻のときのメッセージ
  frontend/src/components/TimeLine/index.tsx
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

chore: SPAにいい感じに進んでいる。
  frontend/src/app/(index)/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/notification/page.tsx
  frontend/src/app/page.tsx
  frontend/src/app/post/[id]/page.tsx
  frontend/src/app/profile/[id]/followers/page.tsx
  frontend/src/app/profile/[id]/following/page.tsx
  frontend/src/app/profile/[id]/page.tsx
  frontend/src/app/profile/followers/page.tsx
  frontend/src/app/profile/following/page.tsx
  frontend/src/app/profile/page.tsx
  frontend/src/app/search/page.tsx
  frontend/src/app/set-list/page.tsx
  frontend/src/components/FollowList.tsx
  frontend/src/components/FollowList/index.tsx
  frontend/src/components/Followers.tsx
  frontend/src/components/Following.tsx
  frontend/src/components/HybridFooterMenu.tsx
  frontend/src/components/Profile/ProfileHeader.tsx
  frontend/src/components/common/LoadingSpinner.tsx
  frontend/src/components/layout/HybridBaseLayout.tsx
  frontend/src/components/views/FollowersView.tsx
  frontend/src/components/views/FollowingView.tsx
  frontend/src/components/views/HomeView.tsx
  frontend/src/components/views/LoginView.tsx
  frontend/src/components/views/NotFoundView.tsx
  frontend/src/components/views/NotificationView.tsx
  frontend/src/components/views/PostView.tsx
  frontend/src/components/views/ProfileView.tsx
  frontend/src/components/views/SearchView.tsx
  frontend/src/components/views/SetListView.tsx
  frontend/src/core/HybridSPA.tsx
  frontend/src/core/auth/HybridSPAAuth.tsx
  frontend/src/core/router/RouteEngine.ts
  frontend/src/core/router/TrueSPARouter.tsx
  frontend/src/core/router/ViewRenderer.tsx
  frontend/src/hooks/useNavigation.ts
  frontend/src/middleware.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: フォロー欄
  frontend/src/components/FollowList.tsx
  frontend/src/components/FollowList/index.tsx
  frontend/src/components/Followers.tsx
  frontend/src/components/Following.tsx
  frontend/src/components/views/LoginView.tsx
  frontend/src/middleware.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format

fix: 通知などのパスにすぐ行けるよう修正
  frontend/src/middleware.ts
Due: none

chore: リンターエラー、自動でタイムライン更新、ログアウトの正しい表示
  backend/package.json
  backend/pnpm-lock.yaml
  backend/src/app.module.ts
  backend/src/controllers/backup.controller.ts
  backend/src/modules/backup.module.ts
  backend/src/services/backup.service.ts
  backend/src/tasks/backup.task.ts
  frontend/src/app/globals.css
  frontend/src/components/FooterMenu.tsx
  frontend/src/components/NewPostBanner/index.tsx
  frontend/src/components/NotificationItem/index.tsx
  frontend/src/components/Sidebar/TrendingPosts.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/components/layout/HybridBaseLayout.tsx
  frontend/src/core/auth/HybridSPAAuth.tsx
  frontend/src/hooks/useGlobalKeyboardShortcuts.ts
  frontend/src/hooks/useNavigation.ts
  frontend/src/hooks/useNewPostNotification.ts
  frontend/src/hooks/useSessionManagement.ts
  frontend/src/middleware.ts
  frontend/src/utils/logout.ts
  frontend/src/utils/userCache.ts
Due: frontend-tailwind-colors-check, frontend-lint, frontend-format, backend-lint, backend-format
